* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}
em,          
i{
    font-style: normal;
}
li {
    list-style: none;
    /* color: black; */
}
img {
    border: 0;
    vertical-align: middle;
}
button {
    cursor: pointer;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover{
    color: red;
}

button,
input {
    font-family: Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,
    "\5B8B\4F53",sans-serif;
     /* 手动去掉默认边框 */
    border: 0;
    /* 去掉蓝色边框 */
    outline: none;
}

body {
    /* CSS3 抗锯齿形 让喂蚊子显示更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,
    "\5B8B\4F53",sans-serif;
}
             